
body{
    background: black;
    
}

.todolist{
    background: rgba(221, 59, 107, 0.664);
    height: 600px;
    width: 700px;
    margin: 0 auto;
    }
   
    
.header{
    text-align: center;
    font-size: 100px;
    color: rgb(238, 231, 231);
}

.container{
    text-align: center;
    
}

input{
    width: 100%;
    
 
    
}




 li{
    list-style: none;
    border: solid 1px black;
    display: flex;
    justify-content: space-between;
    
    color: black;
   
}

.list{
    padding-left: 8px ;
    padding-right: 8px;
}

